* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.App {
  /* text-align: center; */
  background-color: #ffffff;
  min-height: 100vh;
  color: rgb(0, 0, 0);
  width: 80%;
  margin: 0 auto;
}


/***********Debut css Teache**************/
.title_food {
  display: flex;
}

.title_food span {
  margin-right: 20px;
}

.title_food div img {
  border-radius: 10px;
}

/***********Fin css Teache****************/
/***********Début css Categories**********/
.container {
  display: flex;
  width: 100%;
}


.loop_categorie {
  /* display: flex;
  justify-content: end;
  flex-wrap: wrap; */
  width: 80%;
}

.loop_categorie img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px
}


/***********Fin css Categories**********/
/***********Début css Meals*************/
.index_meals {
  width: 42%;
}

.info_meals {
  /* background: rgb(255, 174, 174); */
  display: flex;
  cursor: pointer;
}

.container_meals {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.info_meals:first-child {
  /* background: rgb(158, 27, 27); */
  margin-right: 3vw;
}

.info_meals div h4 {
  margin: 10px 0px 0px 10px;

}

/* .info_meals div {
  display: flex;
  flex-wrap: wrap;
} */

.info_meals div p {
  /* background: rgb(126, 78, 78); */
  width: 245px;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0px 0px 10px;
  color: rgb(136, 136, 136);
  font-weight: 400;
}

/***********Fin css Meals*************/
/***********Debut css Panier*************/
.container_panier {
  background: rgb(212, 212, 212);
  width: 25%;
  height: 400px;
  right: 10%;
  margin-top: 20px;
  position: absolute;
  border: none;
  border-radius: 10px;
}

.container_panier>div button {
  background: #00CDBC;
  width: 96%;
  margin: 2%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/***********Fin css Panier*************/